<div>
  <div class="container" *ngIf="true">
    <h3>Get Stocks</h3>
    <button (click)="getStocks()">Get Stocks</button>
    &nbsp;
    <button routerLink="/Portfolio">Go to Portfolio</button>
    &nbsp;
    <button type="button" routerLink="/Authenication">Sign out</button>
    <div>
      <h2>Stock Exchange: {{stockList[0].stockExchangeName}} </h2>
    </div>
    <br />
    <div *ngFor="let stock of stockList">
      <div>Stock Symbol: {{ stock.symbol }}</div>
      <br />
      <div>&nbsp;Stock Amount: {{ stock.stockClose }}</div>
      <br />
    </div>
  </div>
</div>