<div class="container" *ngIf="portfolioHome">
  <h1>Welcome to your Portfolio!</h1>
  <h2>Please select an option</h2>
  <button type="button" routerLink="/StockDetails">View Stock Options</button>
  &nbsp;
  <button type="button" (click)="showCreatePortfolio()">Create New Profolio</button>
  &nbsp;
  <button type="button" routerLink="/Authenication">Sign out</button>

</div>


<!-- create portfolio -->
<div class="container" *ngIf="createPortfolio">
  <h1>Create A New Portfolio!</h1>
  <h2>Please name for Portfolio</h2>
  <form #customerForm="ngForm">
    <div class="form-group">
      <label for="name">User ID: </label>
      <br />
      <input type="text" class="form-control" id="id" required [(ngModel)]="portfolioInfo.fK_CustomerID" name="id"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger" style="color:red;">
        Name is required
      </div>
    </div>
    <br />

    <div class="form-group">
      <label for="name">Portfolio Name: </label>
      <br />
      <input type="text" class="form-control" id="name" required [(ngModel)]="portfolioInfo.name" name="name"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger" style="color:red;">
        Name is required
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success" (click)="newPortfolio(portfolioInfo)"
      [disabled]="!customerForm.form.valid">Submit</button>
    &nbsp;
    <button type="button" routerLink="/StockDetails">View Stock Options</button>
    &nbsp;
    <button type="button" routerLink="/Authenication">Sign out</button>
  </form>
</div>